# Haskell
.stack-work/
dist/
*.hi
*.o
*.dyn_o
*.dyn_hi
.hpc/
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.ps
*.pdf

# Rust
rust-vm/target/
rust-vm/Cargo.lock
rust-vm/**/*.wasm
public/pkg/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
